doctype html
html
    head
        meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
        title= subject
        body
            h1.h1 Добрый день!
            p
                strong !{subject} <br />
                | для отслеживание статуса воспользуйтесь ссылкой http://localhost:3000/search/!{ticketNumber}
